In [22]:
a = 2
print(a)

2

In [23]:
##Declaring and Assigning Variables

age = 32
height = 6.1
name = "Krish"
is_student = True
##printing the variables

print("age :" , age)
print("height:" , height)
print("name :" , name)

age : 32
height: 6.1
name : Krish

In [24]:
## Naming Convention
## Variables should be descriptive
## They must start with a letter or an '_' and contain letters , numbers and underscore
## Vairables names are case sensitive

## Valid variable names
first_name = "Krish"
last_name = "Naik"

In [25]:
#Inavalid variable name
# 2age=30
# first-name = "krish"
# @name = "Krish"

In [26]:
## case senstivity
name = "Krish"
Name = "Naik"
print(name == Name)

False

In [27]:
## Understadning Variable Types
## Python is dynamically typed , type of a variable is determined at runtime
 
age = 25  #int 
height = 6.1 #float
name = "Krish" #string
is_student = True # bool

print(type(name))
print(type(is_student))

<class 'str'>
<class 'bool'>

In [28]:
# Type checking and Conversion
type(height)

float

In [29]:
age = 25
print(type(age))

## Type Conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [30]:
# name = "Krish"
# int(name)

In [31]:
height = 5.11
type(height)

float

In [32]:
print(int(height))
print(float(int(height)))

5
5.0

In [33]:
##Dynamic Typing 
## Python allows the type of a variable to change as the program executes

var = 10
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [34]:
## input

age = int(input("What is your age"))
print(age,type(age))

2 <class 'int'>

In [35]:
## Simple Calculator

num1 = float(input("Enter first number"))
num2 = float(input("Enter second number"))

sum = num1 + num2
difference = num1 - num2
quotient = num1 / num2
product = num1 * num2

print("Sum", sum)
print("Difference" , difference)
print("Product", product)
print("Quotient",quotient)

Sum 11.0
Difference -1.0
Product 30.0
Quotient 0.8333333333333334