In [1]:
## Integer Examples
age = 35
type(age)

int

In [2]:
## floating type datatype
height = 5.11
print(height)
print(type((height)))

5.11
<class 'float'>

In [3]:
## string datatype
name = "Krish"
print(name)
print(type((name)))

Krish
<class 'str'>

In [4]:
## boolean datatypes
is_true = True
print(type(is_true))

<class 'bool'>

In [5]:
is_true = bool()
print(type(is_true))

<class 'bool'>

In [6]:
a = 10
b = 10

print(a==b)
(type(a==b))

True

bool

In [7]:
## common errors
result = "Hello" + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [8]:
result = "Hello" + str(5)
print(result)

Hello5